* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: yellow;
    height: 80px;
    /* altura */
    width: 80%;
    /* ancho */
    margin: auto;
    /* me sirve para centrar un elemento que no ocupe 100% del ancho */
}

footer {
    height: 60px;
    width: 100%;
    background-color: cyan;
}