*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 80px;
    width: 100%;
    margin: auto;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .marca{
    color: white;
    font-size: 20pt;
}

header .social{
    font-size: 26pt;
}

.boton{
    background-color: aqua;
}

.negro{
    background-color: rgb(36,36,36);
    color:white;
}

/* Condiciones particulares

img{
 object-fit:cover;
 aspect ratio: 1/1;
 aspect-ratio: 16/9;
 aspect-ratio: 3/2;
}

*/

/*-----------TIPOGRAFIAS-----------*/

.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.social a{
    text-decoration: none;
    margin: 0 10px;
    color: gray;
}

.social a:hover{
    color: rgb(255,255,255);
    text-shadow: 0 0 5px rgb(124, 164, 189)
}

.contenedor{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.card{
    position: relative;
    flex: 1 0 300px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    /*width: 60%;*/
    height: 500px;
    background-color: rgb(255,255,255);
    padding: 20px;
    border-radius: 20px;
    height: 500px;
}

.card .imagen{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 217, 0);
    margin-bottom: 20px;
}

.card .titulo{
    color: black;
    font-size: 18pt;
}

.card .desc{
    color: black;
}

.card .boton{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    background-color: gray;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-size: 12pt;
}

.card .boton:hover{
    box-shadow: 0 0 5px black;
}

footer{
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.888);
    position: fixed;
    bottom: 0;
    color: white;
    line-height: 60px;
    text-align: center;
}

.contenido{
    height: 800px;
    width: 80%;
    margin: auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #021641 7%, #1532d6 46%, #5e0659 100%);
    margin-bottom: 60px;
}
